@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:200,300,400,500,600,700,800&display=swap');

.container {
  width: 320px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}



#menuToggle {
  display: block;
  position: relative;
  background: #202529;
  top: -1px;
  left: -1px;
  padding: 13px 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a

{

  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input

{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -1px;
  left: -1px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 15px;
  height: 2px;
  margin: 0px -5px 2px 0px;
  position: relative;
  background: #cdcdcd;
  border-radius: 0px;
  z-index: 1;
  left: -1px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);

}

#menu
{
  display: none;
  position: absolute;
  width: 182px;
  height: 161px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  margin: 13px 0 0px -155px;
  padding: 0;
  /* padding-top: 125px; */
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: 500ms;
}

#menu li
{
  box-sizing: border-box;
  font-size: 12px;
  box-shadow: 0 0 1px 0 black;
  padding: 10px 12px;
  font-weight: 400;

}
#menuToggle input:checked ~ ul
{
  transform: none;
  display: block;
}


.nav-bar {
  width: 100%;
  height: 37px;
  background-color: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  .nav-bar__logo {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin: 0 0 3px 18px;
  }
  .nav-bar--menu {
    display: none;
  }
}

.info-block {
  padding: 19px;
  height: 173px;
  width: 100%;
  background-image: url("../img/320px/pizza-bg.png");
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 0 2px 0;


  .info-block__title {
    font-size: 16px;
    display: inline-block;
    color: #FFFFFF;
    margin: 0 0 13px 2px;
    line-height: 9px;
    letter-spacing: 0.14px;
  }

  .info-block__link {
    display: inline-block;
    line-height: 0;
    color: #A6D6E0;
    text-decoration: none;
    font-size: 14px;
    margin: 9px 1px;
    letter-spacing: 0.3px;
  }
}

.menu-block {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .menu-block__dishes {
    margin: 0 0 2px 0;
    background-repeat: no-repeat;
    text-decoration: none;
    height: 75px;
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 0 0 4px 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    position: relative;
  }

  .menu-block__dishes:nth-child(1) {
    background-image: url("../img/320px/Pizza-delivery.png");
    background-position-y: bottom;
  }

  .menu-block__dishes:nth-child(2) {
    background-image: url("../img/320px/Salads.png");
    background-position-y: bottom;
  }

  .menu-block__dishes:nth-child(3) {
    background-image: url("../img/320px/Desserts.png");
    background-position-y: -25px;
  }

  .menu-block__dishes::after {
    content: '>';
    position: absolute;
    width: 71px;
    height: 100%;
    color: #fff;
    background-color: #ACD8AD;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -65px;
    top: 0;
    font-weight: 300;
  }
}


.dishes-block {
  font-family: 'Lato', sans-serif;
.title-block {
  img {
    display: none;
  }

  .title {
    .dishes-block__first-title {
      color: #3F4043;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      margin: 20px 0 0 8px;
    }

    .dishes-block__first-desc {
      font-size: 10px;
      font-weight: 400;
      color: #cbccce;
      margin-left: 9px;
    }
  }
}


  .dishes-block__second-title--black,
  .dishes-block__second-title--green {
    text-transform: uppercase;
    font-size: 20px;
    padding: 9px 0 9px 18px;
    font-weight: 400;
    margin: 13px 0 0 0;
  }

  .dishes-block__second-title--green {
    margin: 32px 0 0 0;
  }

  .dishes-block__second-title--black {
    background-color: #3f4043;
    color: #acd8ad;
  }

  .dishes-block__second-title--green {
    background-color: #acd8ad;
    color: #fff;
  }


  .dishes-block__second-desc--snow,
  .dishes-block__second-desc--vine,
  .dishes-block__second-desc--tea,
  .dishes-block__second-desc--beer {
    font-size: 15px;
    color: #3f4043;
    text-transform: uppercase;
    position: relative;
  }

  .dishes-block__second-desc--snow {
    margin: 16px 16px 20px 17px;
  }

  .dishes-block__second-desc--vine {
    margin: 23px 23px 20px 18px;
  }

  .dishes-block__second-desc--tea {
    margin: 17px 16px 20px 18px;
    letter-spacing: 0.05px;
  }

  .dishes-block__second-desc--beer {
    margin: 23px 22px 20px 18px;
  }

  .dishes-block__second-desc--snow::after,
  .dishes-block__second-desc--vine::after,
  .dishes-block__second-desc--tea::after,
  .dishes-block__second-desc--beer::after {
    position: absolute;
    right: 0;
    top: -5px;
  }

  .dishes-block__second-desc--snow::after {
    content: url("../img/320px/logo_snow.png");
  }

  .dishes-block__second-desc--vine::after {
    content: url("../img/320px/vine.png");
  }

  .dishes-block__second-desc--tea::after {
    content: url("../img/320px/tea.png");
  }

  .dishes-block__second-desc--beer::after {
    content: url("../img/320px/beer.png");
  }


  .dishes-item-block {
    width: 286px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;

    .dishes-block__item {
      .dishes-block__item__title {
        font-size: 14px;
        font-weight: 400;
        float: left;
        color: #3f4043;
        margin: 0 0 7px 0;
        letter-spacing: -0.2px;


      }

      .dishes-block__item__price {
        float: right;
        font-size: 14px;
        font-weight: 700;
        color: #3f4043;
      }

      .dishes-block__item__desc {
        clear: both;
        font-size: 9px;
        color: #3f4043;
        margin: 0 0 11px 0;
        letter-spacing: 0.15px;
        .--letter-spacing {
          position: relative;
          bottom: -1px;
          letter-spacing: -0.09px;
        }
      }
    }
  }
}

.footer-block {
  background-color: #acd8ad;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 49px 0 49px 0;
  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .footer-block__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
    margin: 0 0 0 3px;
  }
  }

  img {
    display: none;
  }
}


@media (min-width: 640px) {
  .container {
    width: 320px * 2;
  }

  #menu {
    margin: 24px 0 0 -126px;
  }

  #menuToggle {
    padding: 24px 26px;
    background: #202529;
    left: 0;
  }
  #menuToggle input {
    top: 18px;
    left: 19px;
  }

  #menuToggle span {
    width: 31px;
    height: 4px;
    left: 2px;
    margin: 4px 0px 4px -1px;
  }

  .nav-bar {
    height: 37px * 2;

    .nav-bar__logo {
      font-size: 24px;
      margin: -2px 0px 0px 36px;
    }
  }
  .info-block {
    height: 173px * 2;
    background-image: url("../img/640px/pizza-bg-640.png");
    padding: 38px;


    .info-block__title {
      font-size: 36px;
      margin: 1px 0 31px 1px;
      letter-spacing: 0.3px;
    }

    .info-block__link {
      line-height: 0;
      margin: 16px 0;
      font-size: 24px;
    }
  }


  .menu-block {
    .menu-block__dishes {
      width: 499px;
      height: 75px * 2;
      font-size: 36px;
    }

    .menu-block__dishes::after {
      width: 71px * 2;
      right: -141px;
    }

    .menu-block__dishes:nth-child(1) {
      background-image: url("../img/640px/delivery.png");
      background-position: bottom;
    }

    .menu-block__dishes:nth-child(2) {
      background-image: url("../img/640px/Salads.png");
      background-position: bottom;
    }

    .menu-block__dishes:nth-child(3) {
      background-image: url("../img/640px/Desserts.png");
      background-position-y: -25px;
    }
  }
  .dishes-block {
    .dishes-block__first-title {
      font-size: 20px * 2;
      margin: 38px 0 6px 18px;
    }

    .dishes-block__first-desc {
      font-size: 20px;
      margin: 0 0 0 21px;
    }

    .dishes-block__second-title--green,
    .dishes-block__second-title--black {
      font-size: 40px;
      padding: 17px 0 17px 37px;
      margin: 22px 0 33px 0;
    }

    .dishes-block__second-title--green {
      margin: 44px 0 33px 0;
    }

    .dishes-block__second-desc--snow,
    .dishes-block__second-desc--vine,
    .dishes-block__second-desc--tea,
    .dishes-block__second-desc--beer {
      font-size: 15px * 2;
    }

    .dishes-block__second-desc--snow {
      margin: 16px 35px 40px 35px;
    }
    .dishes-block__second-desc--vine {
      margin: 44px 46px 41px 36px;
    }

    .dishes-block__second-desc--tea {
      margin: 0 30px 40px 38px;
    }
    .dishes-block__second-desc--beer {
      margin: 44px 44px 42px 35px;
    }


    .dishes-block__second-desc--snow::after {
      content: url("../img/640px/snow.png");
      top: -9px;
    }

    .dishes-block__second-desc--vine::after {
      content: url("../img/640px/vine.png");
      top: -9px;

    }

    .dishes-block__second-desc--tea::after {
      content: url("../img/640px/tea.png");
      top: -9px;

    }

    .dishes-block__second-desc--beer::after {
      content: url("../img/640px/beer.png");
      top: -9px;

    }

    .dishes-item-block {
      width: 572px;

      .dishes-block__item {
        .dishes-block__item__title {
          font-size: 27px;
          margin: 0 0 15px 0;
          letter-spacing: 0;
        }

        .dishes-block__item__desc {
          font-size: 18px;
          margin: 0 0 22px 0;
        }

        .dishes-block__item__price {
          font-size: 27px;
        }
      }
    }
  }
  .footer-block {
    height: 97px;
    margin: 119px 0 49px 0;
    .footer-block__text {
      font-size: 18px;
      line-height: 28px;
      margin: 0;
    }
  }
}



  @media (min-width: 980px) {
    .container {
      width: 980px;
    }
    .nav-bar {
      height: 97px;
      .nav-bar__logo {
        display: none;
      }
      .nav-bar--menu {
        margin: 0 23px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        .nav-bar__link {
          color: #fff;
          font-weight: 400;
          font-size: 15px;
          margin: 0 0 3px 24px;
          text-decoration: none;
        }
      }
    }

    .navigation {
      display: none;
    }

    .info-block {
      height: 530px;
      background-image: url("../img/980px/pizza-bg.png");
      padding: 55px;


      .info-block__title {
        font-size: 54px;
        margin: 1px 0 58px 1px;
        letter-spacing: 0.3px;
      }

      .info-block__link {
        line-height: 0;
        margin: 16px 0;
        font-size: 34px;
      }
    }

    .menu-block {
      display: flex;
      flex-direction: row;
      .menu-block__dishes {
      width: 327px;
      height: 327px;
      }
      .menu-block__dishes::after {
        display: none;
      }
    }

    .dishes-block {

.title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 23px 0 24px;
  margin: 35px 0 0 0;
  img {
    display: flex;
  }
  .title {
    .dishes-block__first-title {
      font-size: 34px;
    }

    .dishes-block__first-desc {
      font-size: 20px;

    }
  }
}
      .dishes-block__second-title--green {
        font-size: 34px;
        width: 485px;
        margin: 22px 9px 34px 14px;
        box-sizing: border-box;
      }
      .dishes-block__second-title--black {
        width: 496px;
        font-size: 34px;
        box-sizing: border-box;

      }
      .dishes-block__second-desc--snow,
      .dishes-block__second-desc--vine,
      .dishes-block__second-desc--tea,
      .dishes-block__second-desc--beer {
        font-size: 26px;
        margin: 16px 2px 40px 35px;
      }

      .columns {
        .dishes-item-block {
          width: 465px;
          .dishes-block__item {
            .dishes-block__item__price {
              font-size: 24px;

            }
            .dishes-block__item__desc {
              font-size: 16px;
            }
            .dishes-block__item__title {
              font-size: 24px;

            }
          }
        }
        display: flex;
        flex-direction: row;
        .second-column{
          width: 49%;

        }
        .first-column {
          width: 49%;
        }
      }
    }
.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 23px;
  img {
    display: block;
  }
  .text-block {
    display: flex;
    flex-direction: row;
  }
}
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .nav-bar {
    height: 97px;
    .nav-bar__logo {
      display: none;
    }
    .nav-bar--menu {
      margin: 0 23px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .nav-bar__link {
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        margin: 0 0 3px 24px;
        text-decoration: none;
      }
    }
  }

  .navigation {
    display: none;
  }

  .info-block {
    height: 649px;
    background-image: url("../img/1200px/pizza-bg.png");
    padding: 55px;


    .info-block__title {
      font-size: 62px;
      margin: 1px 0 58px 1px;
      letter-spacing: 0.3px;
    }

    .info-block__link {
      line-height: 0;
      margin: 25px 0;
      font-size: 38px;
    }
  }

  .menu-block {
    display: flex;
    flex-direction: row;
    .menu-block__dishes {
      width: 400px;
      height: 400px;
    }
    .menu-block__dishes::after {
      display: none;
    }
  }

  .dishes-block {

    .title-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 23px 0 24px;
      margin: 35px 0 0 0;
      img {
        display: flex;
      }
      .title {
        .dishes-block__first-title {
          font-size: 34px;
        }

        .dishes-block__first-desc {
          font-size: 20px;

        }
      }
    }
    .dishes-block__second-title--green {
      font-size: 34px;
      width: 594px;
      margin: 22px 9px 34px 6px;
      box-sizing: border-box;
    }
    .dishes-block__second-title--black {
      width: 606px;
      font-size: 34px;
      box-sizing: border-box;

    }
    .dishes-block__second-desc--snow,
    .dishes-block__second-desc--vine,
    .dishes-block__second-desc--tea,
    .dishes-block__second-desc--beer {
      font-size: 26px;
      margin: 16px 2px 40px 35px;
    }

    .columns {
      .dishes-item-block {
        width: 570px;
        .dishes-block__item {
          .dishes-block__item__price {
            font-size: 27px;

          }
          .dishes-block__item__desc {
            font-size: 18px;
          }
          .dishes-block__item__title {
            font-size: 27px;

          }
        }
      }
      display: flex;
      flex-direction: row;
      .second-column{
        width: 50%;

      }
      .first-column {
        width: 50%;
      }
    }
  }
  .footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 23px;
    img {
      display: block;
    }

    .text-block {
      .footer-block__text {
        font-size: 18px;
      }
      display: flex;
      flex-direction: row;
    }
  }
}